<!-- navbar -->
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap justify-between  items-center mx-auto">
        <a href="/" class="flex items-center">
            <svg class="mr-3 h-6 sm:h-9" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                    d="M14,5.29460825 L10,7.58032254 L10,19.2768203 L14,16.991106 L14,5.29460825 Z M16,4.15175111 L16,15.922967 L20,17.522967 L20,5.67703296 L16.0769157,4.10779926 L16,4.15175111 Z M8,19.6125741 L8,7.72075922 L4,6.38742589 L4,18.2792408 L8,19.6125741 Z M9.1079384,22.090072 L2,19.7207592 L2,3.61257411 L8.8920616,5.90992798 L15.9230843,1.89220074 L22,4.32296704 L22,20.477033 L16.0769157,18.1077993 L9.1079384,22.090072 Z" />
            </svg>
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">DayTrip</span>
        </a>
        <div class="flex md:order-1">
            <% if (currentPath !=="/" ) { %>
                <div class="hidden relative sm:block">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                            style="--darkreader-inline-fill:currentColor;">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Search icon</span>
                    </div>
                    <form method="GET" id="searchForm" enctype="multipart/form-data">
                        <div>
                            <input type="text" onkeypress="citySearch(event)" placeholder="Enter a city"
                                id="autocomplete" name="name"
                                class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                        </div>
                    </form>
                </div>
                <% } %>

        </div>

        <% if (!currentUser) { %>
            <!-- burger -->
            <button data-collapse-toggle="navbar-search" type="button"
                class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-search" aria-expanded="false">
                <span class="sr-only">Open menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill:currentColor;">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <% } %>

                <!-- Dropdown menu and login and register -->
                <% if (!currentUser) {%>

                    <div class="hidden justify-between items-center w-full md:flex md:w-auto sm:order-2"
                        id="navbar-search">
                        <div class="relative">
                            <ul
                                class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">


                                <li>
                                    <a href="/users/login"
                                        class="block py-2 pr-4 pl-3 text-gray-700 rounded md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Log
                                        In</a>
                                </li>
                                <li>
                                    <a href="/users/register"
                                        class="block py-2 pr-4 pl-3 text-gray-700 rounded md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Register</a>
                                </li>
                            </ul>

                        </div>
                        <% } %>
                            <% if (currentUser) { %>
                                <!-- User profile -->
                                <div class="flex items-center md:order-2">
                                    <button type="button"
                                        class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                                        data-dropdown-placement="bottom">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="w-8  h-8 rounded-full" src="<%= currentUser.avatar.url %> "
                                            alt="Not found"
                                            onerror="this.src='https://res.cloudinary.com/dx5j0c332/image/upload/v1674607736/DayTrip/360_F_109006426_388PagqielgjFTAMgW59jRaDmPJvSBUL_w3idqh.jpg';">
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                                        id="user-dropdown">
                                        <div class="px-4 py-3">
                                            <span class="block text-sm text-gray-900 dark:text-white">
                                                <%= currentUser.username %>
                                            </span>
                                        </div>
                                        <ul class="py-1" aria-labelledby="user-menu-button">
                                            <li>
                                                <a href="/users/<%= currentUser._id %> "
                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                                            </li>

                                            <li>
                                                <a href="/users/logout"
                                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log
                                                    out</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <% } %>
                    </div>

    </div>
    <% if (currentPath !=="/" ) { %>

        <div class="sm:hidden flex justify-center mt-3 order-2">

            <div class="relative block">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                        style="--darkreader-inline-fill:currentColor;">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Search icon</span>
                </div>
                <form method="GET" id="searchForm" enctype="multipart/form-data">
                    <div>
                        <input type="text" onkeypress="citySearch(event)" placeholder="Enter a city" id="autocomplete"
                            name="name"
                            class="block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required>
                    </div>
                </form>
            </div>
            <% } %>
        </div>
</nav>