<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link href="output.css" rel="stylesheet">
    <!-- <link href="../node_modules/flowbite/src/flowbite.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvJIT4lKt9wTsoTzQd-Ow8XEdDj1sZwo0&libraries=places&callback=initAutocomplete">
        </script>

    <title>BOILERPLATE</title>
</head>

<body>

    <%- body %>
        <!-- <script src="javascripts/placeAutocomplete.js"></script> -->
        <!-- <script src="javascripts/citySearch.js"></script> -->
        <!-- <script src="../node_modules/flowbite/src/flowbite.js"></script> -->
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>

</html>