<% layout('layouts/boilerplate')%>
    <%- include('../partials/navbar') %>
        <%- include('../partials/flash') %>
            <!-- header -->
            <div class="w-full p-8 mb-14 grid content-end h-60 bg-[#1F2937]">


            </div>

            <div class="w-full  text-gray-600 h-24 flex justify-center items-center">
                <p class="text-2xl">
                    Sorry, unable to find "<%= name %>"
                </p>
            </div>

            <script src="javascripts/placeAutocomplete.js"></script>
            <script src="javascripts/citySearch.js"></script>